.App button {
  width: 100%;
}
table,
h2,
.Inventory {
  width: 80%;
  margin: auto;
}
h2 {
  text-align: center;
}
table tr:nth-child(2n) td {
  background-color: #eee;
}
.App .Dice {
  border: 1px solid black;
  width: 1.5em;
  display: inline-block;
  align-content: center;
  margin: auto;
  height: 1.5em;
  text-align: center;
  line-height: 1.5em;
  border-radius: 0.4em;
}
.dices {
  width: 80%;
  margin: auto;
}
.dices p:nth-child(3n) > .Dice {
  transform: rotate(10deg);
}
.dices p:nth-child(3n-2) > .Dice {
  transform: rotate(-10deg);
}

.hidden {
  display: none;
}
.Inventory {
  padding: 1em;
}
.Inventory span {
  margin: 0em 0.2em 0.2em 0;
  border-radius: 0.5em;
/*   border: 1px solid white; */
  padding: 0.5em;
  background-color: #eee;
/*   line-height: 2.5em; */
  display: inline-block
}